/* text colors */
.tabbrowser-tab {
	color: var(--uc-muted-colour) !important;
	cursor: pointer !important;
}
.tabbrowser-tab:is([selected], [multiselected]):-moz-lwtheme {
	color: var(--lwt-tab-text, var(--toolbar-color)) !important;
}

/* Tab background rounding */
.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 4px !important;
}

/* remove tab shadow */
.tabbrowser-tab > .tab-stack > .tab-background {
	box-shadow: none !important;
}
