.titlebar-buttonbox-container {
	display: flex !important;
}

.titlebar-buttonbox-container .titlebar-button {
	margin: 0 0.2em !important;
	padding: unset !important;
	width: 36px;
	height: 36px;
	align-self: center;
}

.titlebar-buttonbox-container .titlebar-button:hover {
	background-color: var(--uc-highlight-colour) !important;
}

.titlebar-buttonbox-container .titlebar-button.titlebar-close:hover {
	background-color: var(--uc-identity-colour-red) !important;
}

.titlebar-buttonbox-container .titlebar-max {
	display: none;
}
