#PanelUI-menu-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-icon,
#star-button-box,
#identity-icon-box,
#tracking-protection-icon-container,
#stop-reload-button .toolbarbutton-icon,
#reload-button .toolbarbutton-icon,
#forward-button toolbarbutton-icon,
#back-button .toolbarbutton-icon,
#alltabs-button .toolbarbutton-badge-stack,
#tabs-newtab-button .toolbarbutton-icon,
.titlebar-buttonbox-container .titlebar-button {
	overflow: hidden !important;
	border-radius: 4px !important;
	cursor: pointer !important;
}

#PanelUI-menu-button,
#tabs-newtab-button,
#unified-extensions-button,
#stop-reload-button:not([disabled]),
#reload-button:not([disabled]),
#forward-button:not([disabled]),
#back-button:not([disabled]),
#alltabs-button,
#tabs-newtab-button {
	cursor: pointer !important;
}
